* {
  font-family: "Lemonada", cursive;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #0f9d58;
  --background-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}

.align-items-center {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.bg-img {
  background-position: center;
}

a {
  color: unset;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

.delay-2 {
  transition-delay: 0.2s !important;
}

.delay-4 {
  transition-delay: 0.4s !important;
}

.delay-6 {
  transition-delay: 0.6s !important;
}

.delay-8 {
  transition-delay: 0.8s !important;
}

.delay-10 {
  transition-delay: 0.1s !important;
}

.delay-12 {
  transition-delay: 0.12s !important;
}

body,
html {
  background: rgb(203, 242, 203);
  background: linear-gradient(
    90deg,
    rgba(203, 242, 203, 1) 0%,
    rgba(180, 206, 187, 1) 54%,
    rgba(251, 238, 252, 1) 100%
  );
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}
#content {
  display: none;
}
#back-to-top {
  position: fixed;
  bottom: 70px;
  font-size: 2rem;
  padding: 0.5rem;
  right: 70px;
  border-radius: 10px;
  color: var(--white);
  background-color: #0f9d58;
  transition: 1s ease-in;
  z-index: 99;
  display: none;
}

#back-to-top i {
}

section {
  padding: 9rem 0;
}

.mb-nav {
  display: none;
}

#nav {
  background-image: linear-gradient(
    to right,
    rgb(239, 255, 239) 0%,
    rgba(242, 255, 254, 0.4) 54%
  );
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 8px 76px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 9;
}

#nav .logo {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.primary-color {
  color: var(--primary-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
}

.left-to-right {
  transform: translateX(-150%);
  transition: 1s ease-in-out;
}

.menu-nav-item {
  color: var(--grey);
  font-weight: 600;
  padding: 2px 22px;
  margin: 0 6px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.menu-nav-item:hover,
.menu-nav-item.active {
  background-color: #0f9d58;
  border-radius: 1rem;
  color: rgb(239, 255, 239);
}

.shopping-bag {
  position: relative;
  cursor: pointer;
}

.shopping-bag::after {
  content: "";
  position: absolute;
  bottom: -15px;
  padding: 16px 24px;
}

.cart-notice {
  position: absolute;
  background-color: var(--white);
  line-height: 1rem;
  padding: 1px 4px;
  border-radius: 1rem;
  right: 0;
  border: 1px solid rgba(203, 242, 203, 1);
}

.shopping-list {
  display: none;
  position: absolute;
  top: 50px;
  right: -28px;
  background-color: var(--white);
  width: 500px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: space-around;
  border-radius: 0.5rem;
  cursor: default;
  flex-direction: column;
  transform-origin: 90% top;
  animation: headerNoti 0.5s ease-in-out;
}

.shopping-list::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 35px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--white);
}

.no-cart {
  padding: 1rem;
}

.no-cart-img,
.no-cart-msg {
  display: none;
}

.no-cart .no-cart-img {
  background-size: cover;
  width: 50%;
  margin-bottom: 8px;
  display: block;
}

.no-cart .no-cart-msg {
  display: block;
}

.no-cart > h4,
.no-cart > .pay {
  display: none;
}

.shopping-bag:hover > i,
.cart-notice:hover i {
  transition: 0.5s ease-in-out;
  background-color: #0f9d58;
  border-radius: 1rem;
  color: rgb(239, 255, 239);
}

.shopping-bag:hover .shopping-list {
  display: flex;
}

.bx-cart-alt {
  font-size: 32px;
  cursor: pointer;
  padding: 2px;
  /* transition: 0.3s ease-out; */
}

.cart-list-item {
  list-style-type: none;
  margin-top: 15px;
  overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung vượt quá kích thước */
  max-height: 300px;
  scrollbar-width: thin; /* Thiết lập kích thước thanh cuộn */
  scrollbar-color: transparent transparent;
}

.shopping-list-header {
  width: 100%;
  margin-top: 8px;
}

.cart-item {
  display: flex;
}

.shopping-list {
  padding: 0 1rem;
}

.cart-item-img {
  width: 20%;
}

.cart-item-img img {
  width: 100%;
  border-radius: 0.5rem;
}

.cart-item-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
}

.row-cart-item {
  display: flex;
  justify-content: space-between;
}

.row-cart-item span {
  font-size: 13px;
}

.cart-item-quantity {
  display: inline;
}

.cart-item-name h5 {
  font-size: 16px;
}

.del-cart-item {
  cursor: pointer;
}

.del-cart-item:hover {
  color: red;
}

.pay {
  margin-top: 24px;
  display: inline;
  width: 100%;
}

.change-quantity-button {
  padding: 4px 8px;
  outline: none;
  border: double;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  min-width: fit-content;
  font-family: "Courier New", Courier, monospace;
  border-radius: 0.5rem;
}

.pay button {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  margin-bottom: 15px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  float: right;
  border-radius: 0.5rem;
}

.pay button:hover,
.change-quantity-button:hover,
.input-group button:hover,
#back-to-top:hover {
  background-color: #127a48;
}

.login {
  margin-left: 1rem;
  font-size: 32px;
  cursor: pointer;
  padding: 2px;
}

.login:hover i {
  transition: 0.5s ease-in-out;
  background-color: #0f9d58;
  border-radius: 1rem;
  color: rgb(239, 255, 239);
}

/* .cart-item-price {
    display: block;
} */
#login-form {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
}

.login-form-header {
}

/*HOME*/
#home {
  background-image: url(../assets/brooke-lark-08bOYnH_r_E-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.slogan {
  width: 50%;
  padding: 1rem;
}

.slogan > *.start {
  transform: translateX(0) !important;
}

.slogan h1 {
  font-size: 96px;
}

.slogan p {
  margin-bottom: 40px;
  font-weight: 400;
}

.slogan button {
  padding: 1rem 5rem;
  border: #0f9d58 2px solid;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.slogan button:hover {
  background-color: #0f9d58;
  color: rgb(239, 255, 239);
}

/* ABOUT */
#about {
  background: linear-gradient(
    90deg,
    rgba(203, 242, 203, 1) 0%,
    rgba(180, 206, 187, 1) 54%,
    rgba(251, 238, 252, 1) 100%
  );
  flex-wrap: nowrap;
  height: 100vh;
  position: relative;
}

.js-about {
  transition: 1s ease-in;
}

.d-flex {
  display: flex;
}

.about-image {
  width: 58%;
  padding: 1rem;
  transform: translateX(-150%);
}

.about-image.start,
.about-slogan.start {
  transform: translateX(0);
}

.left-to-center {
  transition: 1s ease-in;
}

.about-image img {
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 2rem;
}

.about-slogan {
  width: 35%;
  border-radius: 2rem;
  background-color: var(--white);
  padding: 4rem;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  top: 160px;
  right: 200px;
  transform: translateX(150%);
}

.about-slogan h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--grey);
}

/* Item */

#food-menu-section {
  background-image: url(../assets/katherine-chase-4MMK78S7eyk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.food-menu {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 64px;
}

.food-menu h1 {
  color: var(--grey);
}

.food-menu p {
  margin: 32px 0;
}

.bg-img-fixed {
  background-attachment: fixed;
}

.sc-1 {
  transform: scale(1) !important;
}

.food-category button {
  font-weight: 600;
  padding: 8px 40px;
  margin: 0 16px;
  border-radius: 1rem;
  border: #0f9d58 1px solid;
  background-color: var(--white);
  width: max-content;
  cursor: pointer;
}

.food-category > * {
  transform: scale(0);
  transition: 0.5s ease;
}

.food-category > *.start {
  transform: scale(1);
}

.food-category button.start {
}

.food-category button:hover,
.food-category button.active {
  background-color: #0f9d58;
  color: var(--white);
}

.food-item-all {
  margin-top: 3rem;
  display: flex;
}

.food-category button.active {
}

.food-item-all > div {
  display: none;
}

.food-item-all.all > div {
  display: block;
}

.food-item-all.salad > div.salad-type {
  display: block;
}

.food-item-all.lorem > div.lorem-type {
  display: block;
}

.food-item-all.ipsum > div.ipsum-type {
  display: block;
}

.food-item-all.dolor > div.dolor-type {
  display: block;
}

.food-item.start {
  transform: translateY(0);
}

.food-item {
  width: 25%;
  padding: 16px;
  height: 30rem;
  transform: translateY(30%);

  transition: 0.5s ease-in;
}

.item-wrap {
  width: 100%;
  height: 100%;
}

.img-food {
  height: 100%;
  border-radius: 2rem;
}

.item-image {
  height: 60%;
  overflow: hidden;
  border-radius: 2rem;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-info {
  padding: 0 16px;
  margin-top: 48px;
  justify-content: space-between;
}

.item-wrap {
  transition: 0.5s ease-in-out;
  border-radius: 2rem;
  cursor: pointer;
}

.item-wrap:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.item-info h3 {
  color: var(--grey);
}

/* Feedback */
.testimonial-item.start {
  transform: scale(1);
}

.testimonial-item.active {
  z-index: 1;
}

.testimonial-item {
  width: 33.33%;
  padding: 1rem;
}

.review-wrap {
  padding: 1rem;
  border-radius: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--white);
  transition: transform 0.5s ease-in;
}

.sc-12 {
  transform: scale(1.2) !important;
}

.active.start {
  transition: transform 0.5s ease-in;
  transform: unset;
}

.zoom {
  transform: scale(0);
}

.review-wrap.start {
  transform: scale(1);
}

.review-content {
  padding: 3rem;
  border-bottom: 0.125rem solid;
  position: relative;
}

.review-img {
  height: 5rem;
  width: 5rem;
  border-radius: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.review-info {
  text-align: center;
  padding: 3rem;
}

.rating {
  margin-top: 32px;
}

.rating i {
  color: var(--primary-color);
  font-size: 1rem;
}

#footer {
  background-image: url(../assets/nordwood-themes-pYWrdKO5ksI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

#footer ul li {
  list-style-type: none;
}

.contact {
  width: 50%;
}

.aboutus {
  width: calc(100% - 50% - calc(100% / 3));
}

.subscribe {
  width: calc(100% / 3);
}

.input-group {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 2rem;
  padding: 1rem;
  border: 0.125rem solid var(--primary-color);
  border-radius: 2rem;
}

.input-group input {
  width: 100%;
  color: var(--primary-color);
  outline: none;
  background-color: transparent;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.input-group button {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}

.container .row > * {
  padding: 1rem;
}

.scale-up-center {
  transition: transform 0.4s ease-in;
}

.scale-up-center:hover {
  transform: scale(1.2);
}

.login-form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.login-form.open {
  display: flex;
}
.login-form.open .login-container {
  transform: translateX(0);
}
.login-container {
  background-color: #fff;
  position: relative;
  width: 30%;
  animation: loginRun 0.5s ease;
  max-width: calc(100% - 40px);
  z-index: 2;
  border-radius: 1rem;
  min-width: 450px;
}
@keyframes loginRun {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-header {
  background-color: #0f9d58;
  color: #fff;
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.login .login-header-content {
  margin: 10px 0;
  letter-spacing: 4px;
}

.login-header .login-bag {
  margin-right: 16px;
}

.login-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 10px 12px;
}

.login-close:hover {
  color: #000;
  cursor: pointer;
}

.login-body {
  padding: 0 16px;
}
.login-body input {
  border-radius: 1rem;
}
.login-label {
  display: block;
  color: #0f9d58;
  margin: 24px 0 12px;
}

.login-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 8px;
}

#login-submit {
  background-color: #0f9d58;
  color: #fff;
  padding: 15px;
  margin: 24px 0 16px;
  border: 0px;
  width: 100%;
  text-transform: uppercase;
  border-radius: 1rem;
}

#login-submit:hover {
  opacity: 0.9;
  cursor: pointer;
}

.login-footer {
  margin: 15px 0 20px;
  text-align: right;
  padding: 0 16px;
}

.login-help a {
  color: #2196f3;
}
@keyframes headerNoti {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.img-preview_1 {
  display: none;
}
.img-preview,
.img-preview_1 {
  width: 100px;
  height: 100px;
}
#loading-spinner {
  width: 60px;
  height: 60px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0f9d58;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
